<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="utf-8" />
  <title>
  <% if defined? @article.name %>
    Porque: <%= @article.name %>
  <% else %>
    <%= "Blog Porque" %>
  <% end %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= tinymce_assets %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
</head>
<body>

<p style="color: green"><%= flash[:notice] %></p>
<header>
    <a href="<%= root_path %>" id="logo"><h1 class="texthide">Border &amp; Radius Brewhouse</h1></a>
</header> 

<nav id="primary">
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'O mnie', root_path %></li>
        <li><%= link_to 'Kontakt', root_path %></li>
        <li><%= link_to 'Nowy artykul', new_article_path %></li>
      </ul>
</nav>

<div id="wrap">

	<%= yield %>


  <footer id="primary-foot">
    <section id="history">
      <header><h1>Co uzyte?</h1></header>
      <p>Do tego projektu w ramach nauki zostal uzyty: ror, html5 i css3.<br /> 
      
    </section>
    
    <section id="info">
      <nav id="footer-nav">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">O mnie</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </nav>
      
      <p class="copyright">&copy; 2013 wykop.pl/ludzie/porque/, Blog CMS by Porque<br />
      Pierwsza odslona, psuedo systemu cms do bloga.</p>
    </section>
  
  </footer>

</div>

</body>
</html>
