
<div id="middle" align="center" >

	<table>
  		<tr>
    		<th></th>
    		<th></th>
    		<th></th>
    		<th></th>
    		<th></th>
  		</tr>
  
	<% @articles.reverse_each do |article| %>
      
      <tr>
        
    		<td><center>
          <%= image_tag("papyrus1.png") %>
          <div id="artykul" align="center" style="background-image: url(/assets/papyrus2.png);"><h1><%= article.name %></h1><%= raw article.content %>
          </div>
          <%= image_tag("papyrus3.png") %>

        </td>
        
    		<td></td>
  		</tr>
  		<tr>
    		<td><center><%= link_to 'Show', article %> <%= link_to 'Edit', edit_article_path(article) %> <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></center></td>
    		<td><center></center></td>
    		<td><center></center></td>
  		</tr>
      <tr>

        <center><td>--------------------------------------------------------------------------------------------------</td></center>
        
      </tr>

	<% end %>
  
	</table>
	<br />

	<%= link_to 'New Article', new_article_path %>
  

</div>

</center>